body::-webkit-scrollbar{
width: 1px;
}
body{
    
    background-color: #f3f4f6;
}

.text-ellips {
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis; 
  text-align: justify;
}

.text-ellips-singleLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width:560px) {
  .footer-icon img {
    width: 16px;
    
  }
}
