@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body::-webkit-scrollbar{
width: 1px;
}
body{
    
    background-color: #fff;
  font-family: "Montserrat", serif;
    
    font-weight: 300;
}

.text-ellips {
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.text-ellips-singleLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-menu{
  display: none;
}
.dropdown:hover .dropdown-menu{
display: block;
}
@media screen and (max-width:560px) {
  .footer-icon img {
    width: 16px;
    
  }
}
